.loginFormTile {
    padding: 0px;
    width: 500px;
}

.loginFormTile .innerContainer {
    padding: 16px;
    padding-bottom: 0px;
}

.loginFormTile .heading {
    font-size: 1.75rem;
    margin-bottom: 4px;
}

.loginFormTile .notification {
    margin-top: 16px;
    margin-bottom: 16px;
}

.loginFormTile .notificationPlaceholder {
    width: 100%;
    height: 48px;
}

.loginFormTile a {
    cursor: pointer;
}

.loginFormTile .cds--label {
    width: 100%;
    left: 0 !important;
    padding-left: 1rem;
    padding-right: 1rem;
}

.loginFormTile .input {
    margin-bottom: 16px;
}

.loginFormTile .checkbox {
    margin-bottom: 40px !important;
}

.loginFormTile .buttonContainer {
    display: flex;
}

.loginFormTile .flexColumn {
    flex: 1;
}

.loginFormTile .button {
    width: 100%;
}