.innerContainer {
  padding: 1rem;
  padding-bottom: 80px;
  overflow-y: auto;
}

.sideNav1 {
  background-color: red;
}

.datePicker {
  margin-bottom: 20px;
}

.dateInputField {
  width: 50px;
}

#resetFiltersBtn {
  text-align: center;
}

#applyFiltersBtn {
}

#filterOptions {
  width: 100vw;
}
