.mainContainer {
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    border: 1px solid gray;
    // background-color: rgb(244, 244, 244);
}

.sideNav {
    margin-top: 48px;
    background-color: rgb(244, 244, 244);
}

.sideNavHeading {
    padding-left: 15px;
    font-size: 24px;
    font-weight: 500;
    color: black;
}

.mainText {
    padding-top: 30px;
    text-align: left;
    font-size: 18px;
}

.mainHeading {
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
}

.textBox {
    margin-top: 5px;
}

.icon {
    margin-top: 10px;
}